/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}

/*** Site Sections ***/
.body {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.container {
   
}


/* Side Navigation Bar */
.nav-bar-wrapper {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-bar {
    width: 250px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
/* Logo */
.logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
    background-color:  rgb(212, 238, 255);
}

.logo-wrapper {
    width: 50%;
    height: 50%;
    background-image: url("/twitter-clone/images/twitter-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Navigataion Buttons */
.nav-btns {

}

.nav-btns-list {
    display: flex;
    flex-direction: column;
}

.nav-btns-list >li {
    list-style: none;
}

.nav-btn {
    display: flex;
    padding: 12px;
    margin: 3% 0%;
    border-radius: 30px;
    width: fit-content;
}

.nav-btn-active p {
    font-weight: bold;
}

.nav-btn-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0px 20px;
}

/* Navigation Bar Tweet Button */
.nav-bar-tweet {
    margin: 3% 0%;
    margin-right: 10%;
}

/* Mini Profile */


/* Page Contents */
.page-contents {
    width: 50vw;
    border-left: 2px solid #D9D9D9;
    border-right: 2px solid #D9D9D9;
}

.page-title-wrapper {
    padding: 10px;
    height: 50px;
    width: 49.5vw;
    position: fixed;
    background-color: rgb(255, 255, 255, 0.7);
}

.page-title-wrapper p {
    font-weight: bold;
    font-size: 20px;
}

/* Write tweet section */
.write-tweet-wrapper {
    padding-top: 50px;
    display: flex;
    border-bottom: 2px solid #D9D9D9;
}

.tweet-wrapper {
    flex-grow: 1;
}

.tweet-wrapper > form {
    display: flex;
    flex-direction: column;
}

.tweet-text-wrapper {
    padding-right: 2%;
}

.tweet-text-wrapper > textarea {
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #D9D9D9;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}

.tweet-text-wrapper > textarea::placeholder {
    font-size: 20px;
}

.upload-tweet-wrapper {
    display: flex;
    justify-content: space-between;
}

.upload-tweet-wrapper > button {
    width: fit-content;
    padding: 1% 5% !important;
    margin: 2%;
}

.upload-tweet-wrapper > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(29, 155, 240);
    width: 48px;
    height: 48px;
    margin: 2% 0%;
    border-radius: 100px;
}

.upload-tweet-wrapper > label:hover {
    cursor: pointer;
    background-color: rgb(212, 238, 255);
}

/* Feeds */
.feeds {
    display: flex;
    flex-direction: column;
}

.feed-wrapper {
    display: flex;
}

.tweet-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.user-info {
    display: flex;
    align-items: center;
    width: 90%;
}

.user-info > p {
    padding: 0% 1%;
}

.tweet-text-wrapper {
    padding-top: 3%;
    width: 90%;
}

.tweet-img-wrapper {
    width: 90%;
    height: 80vh;
    background-color: #939393;
    border-radius: 30px;
    margin: 3% 0%;
}

.tweet-likes-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

.tweet-likes-wrapper > span {
    padding: 1%;
    border-radius: 50px;
}

.tweet-likes-wrapper > span:hover {
    cursor: pointer;
    border: 1px solid rgb(29, 155, 240);
}

/* Profile */
.profile-wrapper {
    width: 100%;
}

.profile-banner {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 35vh;
    background-color: #b8bebf;
    position: relative;
}

.profile-picture {
    width: 133px;
    height: 133px;
    border-radius: 150px;
    background-color: #939393;
    position: absolute;
    top: 70%;
    margin-left: 2%;
}

.profile-info {
    display: flex;
    justify-content: space-between;
}

.user-details {
    margin-left: 20px;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

.date-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.following-followers-wrapper {
    display: flex;
}

.following-followers-wrapper > p {
    margin-right: 20px;
}

.edit-profile-btn-wrapper {
    width: 20%;
    margin: 10px;
}

.edit-profile-btn-wrapper > button {
    border-radius: 30px;
    border: 0px;
    padding: 5% 2%;
    font-weight: bold;
    width: 100%;
    background-color: white;
    border: 2px solid #dadedf;
}

.nav-tabs {
    display: flex;
    margin-top: 5%;
    border-bottom: 1px solid #D9D9D9;
}

.tab {
    display: flex;
    justify-content: center;
    width: 33.33%;
    padding: 2% 0%;
}

.active-tab {
    font-weight: bold;
    color: black !important;
}

.active-tab > p {
    padding: 1% 0%;
    border-bottom: 5px solid rgb(29, 155, 240);
}


/* Suggestions */
.suggestions {
    width: 25vw;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.search-bar-wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #EFF3F4;
    padding: 10px;
    width: 23%;
    margin-right: 5%;
    border-radius: 20px;
}

.search-bar-wrapper > div:first-child {
    display: flex;
    align-items: center;
}

.search-bar-wrapper form {
    width: 100%;
}

.search-bar-wrapper input {
    border: none;
    outline: none;
    background-color: #EFF3F4;
    margin-left: 5px;
    width: 100%;
}

.search-bar-wrapper input::placeholder {
}

/* Utilities */
.bold-text {
    font-weight: bold;
}

.grey-text {
    color: #536471;
}

.grey-background:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

.btn {
    width: 100%;
    border-radius: 30px;
    border: 0px;
    padding: 5% 0%;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.btn-blue {
    background-color:  rgb(29, 155, 240);
    color: white;
}

.btn-blue:hover {
    background-color:  rgb(25, 125, 193);
}

.small-round-profile-picture {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    background-color: #939393;
    margin: 15px;
}

.hide {
    display: none;
}

/* Media Query */

@media screen and (max-width: 1290px) {
    .nav-bar-wrapper {
        width: 20vw;
    }

    .nav-btn {
        width: 90%;
        justify-content: end;
    }

    .nav-btn-text {
        display: none;
    }

    .logo {
        align-self: flex-end;
        margin-right: 10%;
    }

    .nav-bar-tweet {
        display: none;
    }

}

@media screen and (max-width: 1000px) {
    .suggestions {
        display: none;
    }

    .page-contents {
        flex-grow: 1;
    }
}

@media screen and (max-width: 750px) {
    .profile-banner {
        height: 35vw;
    }

    .profile-picture {
        width: 18vw;
        height: 18vw;
    }
}