/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}

/*** Site Sections ***/
.body {
    display: flex;
}

.container {
   
}


/* Side Navigation Bar */
.nav-bar-wrapper {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-bar {
    width: 250px;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
}
/* Logo */
.logo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
    background-color:  rgb(212, 238, 255);
}

.logo-wrapper {
    width: 50%;
    height: 50%;
    background-image: url("/twitter-clone/images/twitter-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Navigataion Buttons */
.nav-btns {

}

.nav-btns-list {
    display: flex;
    flex-direction: column;
}

.nav-btns-list >li {
    list-style: none;
}

.nav-btn {
    display: flex;
    padding: 12px;
    margin: 5% 0%;
    border-radius: 30px;
    width: fit-content;
}

.nav-btn:hover {
    cursor: pointer;
    background-color: #e2e2e2;
}

.nav-btn-active p {
    font-weight: bold;
}

.nav-btn-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0px 20px;
}


/* Page Contents */
.page-contents {
    width: 50vw;
    border-left: 2px solid #D9D9D9;
    border-right: 2px solid #D9D9D9;
}

/* Suggestions */
.suggestions {
    width: 25vw;
}


/* Utilities */


/* Media Query */